.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  background: var(--color-primario-oscuro);

  @media screen and (max-width: 720px) {
    padding: 0 10%;
    background: var(--color-primario);
  }

  .auth-form {
    max-width: 500px;
    width: 100%;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: var(--color-primario);
    color: var(--color-fondo);

    @media screen and (min-width: 721px) {
      width: 500px;
    }

    // REGISTER
    .register-card,
    .login-card,
    .change-password-card {
      gap: 15px;
      display: flex;
      flex-direction: column;

      .form-field {
        .error {
          color: var(--color-gris-claro);
          font-size: 12px;
        }
      }
    }

    .seccion-top {
      display: flex;
      gap: 15px;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;

      .fa-solid.fa-user {
        fill: var(--color-blanco);
        font-size: 30px;
        text-align: center;
      }

      h2 {
        text-align: center;
      }
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      padding: 5px;
      box-sizing: border-box;
    }

    .seccion-inferior-enlaces {
      font-size: 13px;
      display: flex;
      gap: 4px;
      margin-top: 10px;

      span {
        color: var(--color-fondo);
        text-decoration: none;

        &:hover {
          cursor: pointer;
          color: #c0c0c0;
        }
      }
    }
  }

  /**************** REGISTER ****************/
  .success-view {
    .c-registered {
      text-align: center;
      color: var(--color-fondo);
      display: flex;
      gap: 45px;
      flex-direction: column;
    }

    .enlaces {
      display: flex;
      gap: 15px;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
  }

  /**************** LOGIN ****************/
  /**************** LOGIN Magic Link ****************/
  .login-ml {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    background: var(--color-primario);

    img.img {
      width: 200px;
    }

    .title {
      font-size: 40px;
      color: rgb(216, 174, 255);
      font-weight: bold;
      width: 60%;
    }

    p {
      color: var(--color-fondo);
      font-size: 25px;
    }
  }
}
