.not-found-view {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  height: 100vh;
  justify-content: center;
  background: var(--color-primario);

  img.img-404 {
    width: 30%;
  }

  .titulo-not-found {
    font-size: 45px;
    color: var(--color-fondo);
    width: 60%;
  }
}
