.dashboard-view {
    display: flex;
    height: 100%;

    .content-dashboard {
        padding: 80px 50px;
        width: calc(100% - 281px);
        overflow-x: auto;
    }

    .sidebar-dashboard {
        background: var(--color-primario-oscuro);
        width: 281px;
        height: 100vh;
        flex-direction: column;
        padding: 20px 0;
        transition: all 0.5s ease;

        .profile {
            margin: 30px 0 50px 0;
            text-align: center;

            img {
                display: block;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                margin: 0 auto;
                object-fit: cover;
            }

            h3 {
                color: #ffffff;
                margin: 10px 0 5px;
            }

            p {
                color: var(--color-gris-claro);
            }
        }

        .list-links {
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: space-between;
            height: 100%;

            .sidebar-title {
                color: var(--color-gris-claro);
                margin-left: 20px;
            }

            ul {
                padding: 0;

                li {
                    list-style: none;
                    text-decoration: none;
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 20px;
                    cursor: pointer;

                    &:hover a,
                    &:hover .icon,
                    &:hover .display-icon i {
                        color: white;
                    }

                    &.active a,
                    &.active .icon,
                    &.active .display-icon i {
                        color: var(--color-secundario);
                    }

                    .display-icon {
                        i {
                            width: 20px;
                            height: 20px;
                            font-size: 10px;
                            color: var(--color-gris-claro);
                        }
                    }

                    a {
                        display: block;
                        color: var(--color-gris-claro);
                        text-decoration: none;
                        transition: 0.2s;

                        &.active {
                            color: var(--color-secundario);

                            .icon {
                                color: var(--color-secundario);
                            }

                            &:before {
                                display: block;
                            }
                        }

                        .icon {
                            color: var(--color-gris-claro);
                            width: 30px;
                            display: inline-block;
                        }
                    }
                }
            }
        }

        .toggle-sidebar {
            transition: all 0.5s ease;
            position: absolute;
            top: 50px;
            left: 265px;
            cursor: pointer;

            .toggle-sidebar-icon {
                border-radius: 50%;
                height: 30px;
                display: flex;
                align-items: center;
                background: var(--color-secundario);
                padding: 10px;
                transition: 0.2s;

                &:hover {
                    background: var(--color-secundario-oscuro);
                }


                .hamburger a {
                    color: white;
                    transition: 0.2s;
                }
            }
        }
    }

    .open-sidebar {
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }

    .close-sidebar {
        margin-left: -250px;

        .toggle-sidebar {
            left: 15px;
        }
    }
}