@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  margin: 0;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

///////////////////// UTILS /////////////////////////
// DISPLAY
.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

// MARGIN TOP
.mt-5 {
  margin-top: 5px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-25 {
  margin-top: 25px;
}

// MARGIN BOTTOM
.mb-5 {
  margin-bottom: 5px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-25 {
  margin-bottom: 25px;
}

// PADDING TOP
.mt-5 {
  padding-top: 5px;
}

.mt-8 {
  padding-top: 8px;
}

.mt-10 {
  padding-top: 10px;
}

.mt-15 {
  padding-top: 15px;
}

.mt-16 {
  padding-top: 16px;
}

.mt-20 {
  padding-top: 20px;
}

.mt-24 {
  padding-top: 24px;
}

.mt-25 {
  padding-top: 25px;
}

// PADDING BOTTOM
.mb-5 {
  padding-bottom: 5px;
}

.mb-8 {
  padding-bottom: 8px;
}

.mb-10 {
  padding-bottom: 10px;
}

.mb-15 {
  padding-bottom: 15px;
}

.mb-16 {
  padding-bottom: 16px;
}

.mb-20 {
  padding-bottom: 20px;
}

.mb-24 {
  padding-bottom: 24px;
}

.mb-25 {
  padding-bottom: 25px;
}


/**************** BUTTONS ****************/
button.button,
a.button {
  font-size: 14px;
  width: 100%;
  padding: 10px;
  background-color: #4c3575;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: #6e4ea5;
  }
}