:root {
  /* PRIMARIO */
  --color-primario: #002a4e; //var(--color-primario)
  --color-primario-oscuro: #001a31; //var(--color-primario-oscuro)

  /* SECUNDARIO */
  --color-secundario: #298fdd; //var(--color-secundario)
  --color-secundario-oscuro: #1b71b3; //var(--color-secundario-oscuro)

  /* TERCIARIO */
  --color-terciario: #9ed5f7; //var(--color-terciario)

  /* DIFERENCIAL */
  --color-diferencial: #f8cd51; //var(--color-diferencial)
  --color-diferencial-oscuro: #af9135; //var(--color-diferencial-oscuro)

  /* ACCIONES */
  --color-acciones-1: #028484; //var(--color-acciones-1)
  --color-acciones-1-claro: #00aaaa; //var(--color-acciones-1-claro)
  --color-acciones-1-oscuro: #016464; //var(--color-acciones-1-oscuro)
  --color-acciones-2: #1973b8; //var(--color-acciones-2)
  --color-acciones-2-claro: #2a93e4; //var(--color-acciones-2-claro)
  --color-acciones-2-oscuro: #165e96; //var(--color-acciones-2-oscuro)

  /* FONDO */
  --color-fondo: #fcfcfc; //var(--color-fondo)

  /* ESTADOS */
  --color-error: #cf0000; //var(--color-error)
  --color-success: #48c500; //var(--color-success)
  --color-alerta: #f8cd51; //var(--color-alerta)
  --color-blanco: #fff; //var(--color-blanco)
  --color-negro: #000; //var(--color-negro)

  /* TEXTO */
  --color-texto: #202020; //var(--color-texto)
  --color-gris-oscuro: #3d3d3d; //var(--color-gris-oscuro)
  --color-gris-claro: #b4b4b4; //var(--color-gris-claro)
}
