:root {
  /* PRIMARIO */
  --color-primario: rgba(55, 27, 88); //var(--color-primario)
  --color-primario-50: rgba(55, 27, 88, 0.5); //var(--color-primario-50)
  --color-primario-20: rgba(55, 27, 88, 0.2); //var(--color-primario-20)
  --color-primario-oscuro: rgb(36, 16, 58); //var(--color-primario-oscuro)

  /* SECUNDARIO */
  --color-secundario: rgba(255, 91, 34); //var(--color-secundario)
  --color-secundario-50: rgba(255, 91, 34, 0.5); //var(--color-secundario-50)
  --color-secundario-20: rgba(255, 91, 34, 0.2); //var(--color-secundario-20)
  --color-secundario-oscuro: rgb(168, 58, 22); //var(--color-oscuro)

  /* TERCIARIO */
  --color-terciario: rgba(255, 145, 48); //var(--color-terciario)
  --color-terciario-50: rgba(255, 145, 48, 0.5); //var(--color-terciario-50)
  --color-terciario-20: rgba(255, 145, 48, 0.2); //var(--color-primario-oscuro)

  /* ACCIONES */
  --color-acciones: #4c3575; //var(--color-acciones)

  /* FONDO */
  --color-fondo: #fcfcfc; //var(--color-fondo)

  /* TEXTO */
  --color-texto: #202020; //var(--color-texto)
  --color-gris-oscuro: #3d3d3d; //var(--color-gris-oscuro)
  --color-gris-claro: #b4b4b4; //var(--color-gris-claro)
}