:root {
  /* PRIMARIO */
  --color-primario: rgba(55, 27, 88);
  --color-primario-50: rgba(55, 27, 88, 0.5);
  --color-primario-20: rgba(55, 27, 88, 0.2);

  /* SECUNDARIO */
  --color-secundario: rgba(255, 91, 34);
  --color-secundario-50: rgba(255, 91, 34, 0.5);
  --color-secundario-20: rgba(255, 91, 34, 0.2);

  /* TERCIARIO */
  --color-terciario: rgba(255, 145, 48);
  --color-terciario-50: rgba(255, 145, 48, 0.5);
  --color-terciario-20: rgba(255, 145, 48, 0.2);

  /* ACCIONES */
  --color-acciones: #4c3575;

  /* FONDO */
  --color-fondo: #fcfcfc;

  /* TEXTO */
  --color-texto: #202020;
}
